@use "./variables" as *;
@use "./mixins" as *;
@use "./typography";

// global resets
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: $reset;
  padding: $reset;
}

// site font

body {
  font-family: "AvenirNextLTPro", Verdana, Tahoma, sans-serif;
  word-spacing: 0.034em;
  width: 100vw;
}

// header

.nav-bar {
  background-color: $BandSite-Black;

  &__body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $BandSite-Black;

    @include breakpoint-tablet {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }

    @include breakpoint-desktop {
      max-width: $max-width;
      margin: $reset auto;
    }

    &--left {
      padding: $Mobile-Padding-Standard $reset;
      display: flex;
      align-items: flex-end;
      height: $half;

      @include breakpoint-tablet {
        height: auto;
        padding: $Mobile-Padding-Large;

        @include breakpoint-desktop {
          padding: $Desktop-Padding-Large $reset;
        }
      }
    }

    &--right {
      display: flex;
      justify-content: center;
      height: $half;
      width: 95%;

      @include breakpoint-tablet {
        height: auto;
        width: auto;
        padding-left: $Mobile-Padding-Large;
      }
    }
  }

  &__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    width: 40vw;
    text-align: center;
    padding-bottom: $Mobile-Padding-Standard;
    border-bottom: 3px $BandSite-Black solid;

    @include breakpoint-tablet {
      width: 10vw;
      padding-bottom: $Mobile-Padding-Large;
      margin-right: $Mobile-Padding-Large;
    }

    @include breakpoint-desktop {
      padding-bottom: $Desktop-Padding-Large;
      margin-right: $reset;
    }

    &:hover {
      border-bottom: 3px $White solid;
    }

    &:focus {
      border-bottom: 3px $White solid;
      font-weight: bold;
    }

    &--current {
      border-bottom: 3px $White solid;
    }
  }

  &__link {
    text-decoration: none;
    color: $White;
  }
}

.site-footer {
  background-color: $BandSite-Black;
}

.footer {
  @include flex(column);
  width: 100vw;
  align-items: flex-start;
  background-color: $BandSite-Black;
  padding-left: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    @include flex(row);
    flex-wrap: wrap;
    justify-content: flex-start;
    @include padding-sides($Desktop-Padding-Standard);
  }
  @include breakpoint-desktop {
    max-width: $max-width;
    margin: $reset auto;
    @include padding-sides($reset);
  }
}

.socials {
  @include breakpoint-tablet {
    @include flex(row);
    align-items: center;
    width: 60%;
  }

  &__title {
    @include SectionHeader-Mobile;
    color: $White;
    padding: $Mobile-Padding-Large $Mobile-Padding-Standard
      $Mobile-Padding-Standard $reset;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding: $Desktop-Padding-Large $Desktop-Padding-Standard
        $Desktop-Padding-Standard $reset;
    }
  }

  &__icon {
    padding: $reset $Mobile-Padding-Standard $Mobile-Padding-Standard $reset;

    @include breakpoint-tablet {
      padding: $Desktop-Padding-Large $Mobile-Padding-Large
        $Desktop-Padding-Standard $reset;
    }
  }
}

.contact {
  @include breakpoint-tablet {
    @include flex(row);
    justify-content: space-between;
    width: 70%;
    order: 1;

    @include breakpoint-desktop {
      width: 70%;
    }
  }
  &__card {
    color: $White;
    padding-bottom: $Mobile-Padding-Large;

    @include breakpoint-tablet {
      color: $White;
      padding-right: $Desktop-Padding-Standard;
    }
  }

  &__name {
    @include FooterCopy-Mobile;
    font-weight: 600;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include FooterCopy-Desktop;
      font-weight: 600;
    }
  }

  &__address {
    @include FooterCopy-Mobile;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include FooterCopy-Desktop;
    }
  }

  &__email {
    &--link {
      @include FooterCopy-Mobile;
      color: $White;
      text-decoration: none;

      @include breakpoint-tablet {
        @include FooterCopy-Desktop;
      }
    }
  }
}

.branding {
  @include breakpoint-tablet {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    padding-top: $Desktop-Padding-XL;
  }

  @include breakpoint-desktop {
  }
  &__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
}

.legal {
  @include FooterCopy-Mobile;
  padding: $Mobile-Padding-Standard $reset;
  color: $White;

  @include breakpoint-tablet {
    @include FooterCopy-Desktop;
    padding-bottom: $Desktop-Padding-Standard;
    order: 2;
  }
}
