$BandSite-Black: #323232;
$Silver: #afafaf;
$White: #ffffff;
$BandSite-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$Desktop-Padding-Large: 3rem;
$Desktop-Padding-Standard: 2.25rem;

$Mobile-Padding-Large: 1.5rem;
$Mobile-Padding-Standard: 1rem;
$Mobile-Padding-Half: 0.5rem;

$tablet-screen: 768px;
$desktop-screen: 1280px;
