$BandSite-Black: #323232;
$Silver: #afafaf;
$White: #ffffff;
$BandSite-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$img-small: 36px;
$img-med: 48px;

// 16px = 1rem , 36px = 2.25rem

// Styleguide margins
$Desktop-Padding-XL: 4rem;
$Desktop-Padding-Large: 3rem;
$Desktop-Padding-Standard: 2.25rem;
$Desktop-Padding-Half: 1.12rem;
$Mobile-Padding-Standard: 1rem;
$Mobile-Padding-Large: 1.5rem;
$Mobile-Padding-Half: 0.5rem;

$max-width: 63.75rem;
$comments-width: 48.75rem;

$tablet-screen: 768px;
$desktop-screen: 1280px;

$reset: 0;
