@use "./partials/global";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  &__image {
    background-image: url("../assets/images/hero-bio.jpg");
    height: 60vw;
    background-position: center;
    background-size: cover;
    @include breakpoint-tablet {
      height: 50vw;
    }
    @include breakpoint-desktop {
      height: 40vw;
    }
    &--filter {
      background-color: rgba($color: $BandSite-Black, $alpha: 0.5);
      height: 100%;
    }
  }

  &__title-box {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      padding-left: $Desktop-Padding-Standard;
      padding-right: $Desktop-Padding-Standard;

      @include breakpoint-desktop {
        max-width: $max-width;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__title {
    @include PageHeader-Mobile;
    color: $White;
    @include breakpoint-tablet {
      @include PageHeader-Desktop;
    }
  }
}

.about {
  padding-left: $Mobile-Padding-Standard;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    padding-left: $Desktop-Padding-Standard;
    padding-right: $Desktop-Padding-Standard;
  }

  @include breakpoint-desktop {
    max-width: $max-width;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include SectionHeader-Mobile;
    padding-top: $Mobile-Padding-Large;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding-top: $Desktop-Padding-Large;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }
  &__image {
    aspect-ratio: 16/9;
    width: 100%;
  }
  &__quote {
    padding-top: $Mobile-Padding-Standard;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      padding: $Desktop-Padding-Standard;
    }

    @include breakpoint-desktop {
      padding-left: $Desktop-Padding-XL;
      padding-right: $Desktop-Padding-XL;
    }

    &-copy {
      @include Subheader-Mobile;

      @include breakpoint-tablet {
        @include Subheader-Desktop;
      }
    }

    &-footer {
      @include Subheader-Mobile;
      padding-top: $Mobile-Padding-Half;

      @include breakpoint-tablet {
        @include Subheader-Desktop;
      }
    }
  }

  &__subtitle {
    @include Subheader-Mobile;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include Subheader-Desktop;
      padding-bottom: $Desktop-Padding-Standard;
      padding-left: $Desktop-Padding-Standard;
    }
  }

  &__container {
    @include breakpoint-tablet {
      display: flex;
      padding-left: $Desktop-Padding-Standard;
      padding-right: $Desktop-Padding-Standard;
    }
  }

  &__copy {
    @include BodyCopy-Mobile;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include BodyCopy-Desktop;
      padding-bottom: $Desktop-Padding-Standard;
      padding-right: $Desktop-Padding-Standard;
    }
  }
}

.gallery {
  padding-left: $Mobile-Padding-Standard;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    padding-left: $Desktop-Padding-Standard;
    padding-right: $Desktop-Padding-Standard;
  }

  @include breakpoint-desktop {
    max-width: $max-width;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__background {
    background-color: $Alabaster;
  }

  &__title {
    @include SectionHeader-Mobile;
    font-weight: 600;
    padding-top: $Mobile-Padding-Large;
    padding-bottom: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding-top: $Desktop-Padding-Large;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: auto;
    padding-bottom: $Mobile-Padding-Standard;
    filter: grayscale(0.9);
    @include breakpoint-tablet {
      width: 32%;
      padding-left: $Mobile-Padding-Half;
      padding-right: $Mobile-Padding-Half;
      padding-bottom: $Mobile-Padding-Standard;
    }
    &:hover {
      filter: none;
    }
  }
}

.comments {
  padding-left: $Mobile-Padding-Standard;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    padding-left: $Desktop-Padding-Standard;
    padding-right: $Desktop-Padding-Standard;
  }

  @include breakpoint-desktop {
    max-width: $max-width;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include SectionHeader-Mobile;
    padding-top: $Mobile-Padding-Large;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding-top: $Desktop-Padding-Large;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    @include Subheader-Mobile;
    width: 100%;
    min-height: 36px;
    margin-bottom: $Mobile-Padding-Standard;
    background-color: $BandSite-Black;
    color: white;
    border-radius: 4px;
    padding: 12px;

    @include breakpoint-tablet {
      min-height: 48px;
      padding: 16px;
    }
  }
}

input {
  min-height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  margin-top: 4px;
  border: 1px solid $Mercury;

  @include breakpoint-tablet {
    min-height: 48px;
    padding: 16px;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid $BandSite-Black;
}

.submitted input:invalid,
.submitted textarea:invalid {
  border: 1px solid #d22d2d;
}

textarea {
  font-family: "AvenirNextLTPro";
  min-height: 100px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  margin-top: 4px;
  margin-bottom: $Mobile-Padding-Standard;
  border: 1px solid $Mercury;

  @include breakpoint-tablet {
    padding: 16px;
  }
}

.comment-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint-tablet {
    width: 90%;
  }

  &__name {
    padding-top: $Mobile-Padding-Standard;
    font-weight: 600;
  }
  &__date {
    padding-top: $Mobile-Padding-Standard;
    color: grey;
  }
  &__comment {
    padding-top: $Mobile-Padding-Standard;
    padding-bottom: $Mobile-Padding-Standard;
    border-bottom: solid 1px $Mercury;
    width: 100%;
  }
}

.photo-box {
  width: 20%;
  display: flex;
  justify-content: center;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    width: 10%;
  }

  &__image {
    margin-top: $Mobile-Padding-Standard;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $Mercury;
    background-position: center;
    background-size: cover;

    @include breakpoint-tablet {
      width: 48px;
      height: 48px;
    }
  }
}

.form-right {
  width: 80%;

  @include breakpoint-tablet {
    width: 90%;
  }
}

.form-left {
  width: 20%;
  display: flex;
  justify-content: center;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    width: 10%;
  }

  &__image {
    margin-top: $Mobile-Padding-Standard;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $Mercury;
    background-image: url("../assets/images/Mohan-muruge.jpg");
    background-position: center;
    background-size: cover;

    @include breakpoint-tablet {
      width: 48px;
      height: 48px;
    }
  }
}
