@use "./partials/global";
@use "./partials/typography";
@use "./partials/animations";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  &__image {
    background-image: url("../assets/images/hero-bio.jpg");
    height: 60vw;
    background-position: center;
    background-size: cover;

    @include breakpoint-tablet {
      height: 50vw;
    }

    @include breakpoint-desktop {
      height: 40vw;
    }

    &--filter {
      background-color: rgba($color: $BandSite-Black, $alpha: 0.5);
      height: $full;
    }
  }

  &__title-box {
    @include flex(row);
    @include padding-sides($Mobile-Padding-Standard);
    height: $full;
    align-items: center;

    @include breakpoint-tablet {
      @include padding-sides($Desktop-Padding-Standard);
    }

    @include breakpoint-desktop {
      max-width: $max-width;
      padding: $reset;
      margin: $reset auto;
    }
  }

  &__title {
    @include PageHeader-Mobile;
    color: $White;

    @include breakpoint-tablet {
      @include PageHeader-Desktop;
    }
  }
}

.about {
  @include padding-sides($Mobile-Padding-Standard);

  @include breakpoint-tablet {
    @include padding-sides($Desktop-Padding-Standard);
  }

  @include breakpoint-desktop {
    @include padding-sides($reset);
    max-width: $max-width;
    margin: $reset auto;
  }

  &__title {
    @include SectionHeader-Mobile;
    padding: $Mobile-Padding-Large $reset $Mobile-Padding-Standard $reset;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding: $Desktop-Padding-Large $reset $reset $reset;
    }
  }

  &__image {
    aspect-ratio: 16/9;
    width: $full;

    @include breakpoint-tablet {
      padding: $Desktop-Padding-Standard;
    }
    @include breakpoint-desktop {
      @include padding-sides($Desktop-Padding-Large);
    }
  }

  &__quote {
    padding: $Mobile-Padding-Standard $reset;

    @include breakpoint-tablet {
      padding: $reset $Desktop-Padding-Standard $Desktop-Padding-Standard
        $Desktop-Padding-Standard;
    }

    @include breakpoint-desktop {
      @include padding-sides($Desktop-Padding-Large);
    }

    &-copy {
      @include Subheader-Mobile;

      @include breakpoint-tablet {
        @include Subheader-Desktop;
      }
    }

    &-footer {
      @include Subheader-Mobile;
      padding-top: $Mobile-Padding-Half;

      @include breakpoint-tablet {
        @include Subheader-Desktop;
      }
    }
  }

  &__subtitle {
    @include Subheader-Mobile;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include Subheader-Desktop;
      padding: $reset $reset $Desktop-Padding-Standard $Desktop-Padding-Standard;
    }

    @include breakpoint-desktop {
      @include padding-sides($Desktop-Padding-Large);
    }
  }

  &__container {
    @include breakpoint-tablet {
      @include flex(row);
      @include padding-sides($Desktop-Padding-Standard);
    }

    @include breakpoint-desktop {
      @include padding-sides($Desktop-Padding-Large);
    }
  }

  &__copy {
    @include BodyCopy-Mobile;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include BodyCopy-Desktop;
      padding: $reset $Desktop-Padding-Standard $Desktop-Padding-Standard $reset;
    }
  }
}

.gallery {
  @include padding-sides($Mobile-Padding-Standard);

  @include breakpoint-tablet {
    @include padding-sides($Desktop-Padding-Standard);
  }

  @include breakpoint-desktop {
    @include padding-sides($reset);
    max-width: $max-width;
    margin: $reset auto;
  }

  &__background {
    background-color: $Alabaster;
  }

  &__title {
    @include SectionHeader-Mobile;
    font-weight: 600;
    padding: $Mobile-Padding-Large $reset $Mobile-Padding-Standard $reset;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding: $Desktop-Padding-Large $reset $Desktop-Padding-Standard $reset;
    }
  }

  &__images {
    @include flex(row);
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    width: $full;
    padding-bottom: $Mobile-Padding-Standard;
    filter: grayscale(0.9);

    @include breakpoint-tablet {
      width: 32%;
      @include padding-sides($Mobile-Padding-Half);
    }

    &:hover {
      filter: none;
    }
  }
}

.comments {
  @include padding-sides($Mobile-Padding-Standard);

  @include breakpoint-tablet {
    @include padding-sides($Desktop-Padding-Standard);
  }

  @include breakpoint-desktop {
    @include padding-sides($reset);
    max-width: $max-width;
    margin: $reset auto;
  }

  &__title {
    @include SectionHeader-Mobile;
    padding: $Mobile-Padding-Large $reset $Mobile-Padding-Standard $reset;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding: $Desktop-Padding-Large $reset $Desktop-Padding-Standard $reset;
    }
  }

  &__form {
    @include divider;
    width: $full;
    @include flex(row);
    flex-wrap: wrap;

    @include breakpoint-tablet {
      @include padding-sides($Desktop-Padding-Standard);
    }

    @include breakpoint-desktop {
      max-width: $comments-width;
      margin: $reset auto;
    }
  }

  &__list {
    @include flex(row);
    flex-wrap: wrap;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include padding-sides($Desktop-Padding-Standard);
    }

    @include breakpoint-desktop {
      max-width: $comments-width;
      margin: $reset auto;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__button {
    @include LabelsButtons-Desktop;
    width: $full;
    min-height: 2.25rem;
    margin-bottom: $Mobile-Padding-Standard;
    background-color: $BandSite-Black;
    color: $White;
    border-radius: 4px;
    align-self: flex-end;
    cursor: pointer;

    @include breakpoint-tablet {
      max-width: 9.375rem;
      height: 2.5rem;
    }

    &:hover {
      background-color: $BandSite-DarkBlack;
    }
  }
}

.comments__name-label,
.comments__comment-label {
  @include LabelsButtons-Mobile;
  color: $Silver;
}

.comments__name {
  min-height: 2.25rem;
  width: $full;
  border-radius: 4px;
  padding: 0.75rem;
  margin-top: 4px;
  border: 1px solid $Mercury;
  background-color: $Alabaster;
  margin-bottom: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    min-height: 3rem;
    padding: $Mobile-Padding-Standard;
  }
  &::placeholder {
    color: $BandSite-Black;
  }
}

.comments__name:focus,
.commenter__comment:focus {
  outline: none;
  border: 1px solid $BandSite-Black;
}

.submitted .comments__name:invalid,
.submitted .commenter__comment:invalid {
  border: 1px solid #d22d2d;
  animation: tilt-shaking 0.25s;
}

.commenter__comment {
  font-family: "AvenirNextLTPro";
  min-height: 6.25rem;
  width: $full;
  border-radius: 4px;
  padding: 0.75rem;
  margin: 0.25rem 0 $Mobile-Padding-Standard 0;
  border: 1px solid $Mercury;
  background-color: $Alabaster;

  @include breakpoint-tablet {
    padding: 16px;
  }

  &::placeholder {
    color: $BandSite-Black;
  }
}

.comment-box {
  @include flex(row);
  @include divider;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint-tablet {
    width: 90%;
  }

  &__name {
    padding-top: $Mobile-Padding-Standard;
    font-weight: 600;
    width: $half;
  }

  &__date {
    padding-top: $Mobile-Padding-Standard;
    color: grey;
  }

  &__comment {
    padding: $Mobile-Padding-Standard $reset;
    width: $full;
  }

  &__likes-counter {
    width: $full;
    padding-bottom: $Mobile-Padding-Standard;
  }

  &__like {
    margin-bottom: $Mobile-Padding-Standard;
    height: 1.875rem;
    width: 9.375rem;
    border-radius: 4px;
    background-color: $BandSite-Black;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $BandSite-DarkBlack;
    }
  }

  &__delete {
    @extend .comment-box__like;
  }
}

.photo-box {
  @include flex(row);
  @include divider;
  width: 20%;
  justify-content: center;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    width: 10%;
  }

  &__image {
    margin-top: $Mobile-Padding-Standard;
    width: $img-small;
    height: $img-small;
    border-radius: $half;
    background-color: $Mercury;
    background-position: center;
    background-size: cover;

    @include breakpoint-tablet {
      width: $img-med;
      height: $img-med;
    }
  }
}

.form-right {
  @include flex(column);
  align-items: flex-start;
  width: 80%;

  @include breakpoint-tablet {
    width: 90%;
  }
}

.form-left {
  @include flex(row);
  width: 20%;
  justify-content: center;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    width: 10%;
  }

  &__image {
    margin-top: $Mobile-Padding-Standard;
    width: $img-small;
    height: $img-small;
    border-radius: $half;
    background-color: $Mercury;
    background-image: url("../assets/images/Mohan-muruge.jpg");
    background-position: center;
    background-size: cover;

    @include breakpoint-tablet {
      width: $img-med;
      height: $img-med;
    }
  }
}
