@use "./partials/global";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  &__image {
    background-image: url("../assets/images/hero-shows.jpg");
    height: 23.125rem;
    background-position: center;
    background-size: cover;

    &--filter {
      background-color: rgba($color: $BandSite-Black, $alpha: 0.5);
      height: $full;
    }
  }

  &__title-box {
    @include flex(column);
    @include padding-sides($Mobile-Padding-Standard);
    height: $full;
    justify-content: center;
  }

  &__title {
    @include PageHeader-Mobile;
    color: $White;
    padding-bottom: $Mobile-Padding-Standard;
  }

  &__subtitle {
    @include Subheader-Mobile;
    color: $White;
    padding-bottom: $Mobile-Padding-Standard;
  }

  @include breakpoint-tablet {
    &__image {
      height: 50vw;
    }

    &__title-box {
      @include padding-sides($Desktop-Padding-XL);
    }

    &__title {
      @include PageHeader-Desktop;
      width: 70%;
    }

    &__subtitle {
      @include Subheader-Desktop;
    }
  }

  @include breakpoint-desktop {
    &__image {
      height: 40vw;
    }

    &__title-box {
      @include flex(row);
      @include padding-sides($reset);
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: $max-width;
      margin: $reset auto;
    }

    &__title {
      @include PageHeader-Desktop;
      width: $half;
    }

    &__subtitle {
      @include Subheader-Desktop;
      width: $full;
      align-self: flex-end;
    }
  }
}

.music-box {
  @include breakpoint-tablet {
    width: 70%;
  }

  @include breakpoint-desktop {
    width: 45%;
  }
}

.shows {
  @include padding-sides($Mobile-Padding-Standard);

  &__title {
    @include SectionHeader-Mobile;
    padding: $Mobile-Padding-Large $reset $Mobile-Padding-Standard $reset;
  }

  &__list {
    @include flex(column);
    padding-bottom: $Mobile-Padding-Standard;
  }

  &__box {
    @include divider;
    @include flex(column);
    padding: $Mobile-Padding-Standard $reset;
    cursor: pointer;

    &:hover {
      background-color: $Alabaster;
    }

    &--selected {
      background-color: $Mercury;
    }
  }

  &__date {
    font-weight: 600;
    padding-bottom: $Mobile-Padding-Standard;
  }

  &__venue {
    padding-bottom: $Mobile-Padding-Standard;
  }

  &__location {
    padding-bottom: $Mobile-Padding-Standard;
  }

  &__button {
    @include LabelsButtons-Desktop;
    margin-top: $Mobile-Padding-Standard;
    min-height: 2.25rem;
    background-color: $BandSite-Black;
    color: white;
    border-radius: 4px;

    &:hover {
      background-color: $BandSite-DarkBlack;
    }
  }

  &__label {
    @include LabelsButtons-Desktop;
    font-weight: 400;
    color: $Silver;
    padding-bottom: $Mobile-Padding-Half;
  }

  &__headers {
    display: none;
  }

  &__header {
    color: $Silver;
    width: $quarter;
  }

  &__hidden {
    width: 9.375rem;
  }

  @include breakpoint-tablet {
    @include padding-sides($Desktop-Padding-Standard);

    &__title {
      @include SectionHeader-Desktop;
      padding: $Desktop-Padding-Large $reset $Desktop-Padding-Standard $reset;
    }

    &__box {
      @include flex(row);
      padding: $Mobile-Padding-Large $reset;
      justify-content: space-evenly;
      align-items: center;
    }

    &__date {
      width: $quarter;
    }

    &__venue {
      width: $quarter;
    }

    &__location {
      width: $quarter;
    }

    &__button {
      margin-top: $reset;
      width: 9.375rem;
    }

    &__label {
      display: none;
    }

    &__headers {
      @include flex(row);
      padding-top: $Mobile-Padding-Large;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  @include breakpoint-desktop {
    @include padding-sides($reset);
    max-width: $max-width;
    margin: $reset auto;

    &__list {
      @include padding-sides($reset);
      max-width: $comments-width;
      margin: $reset auto;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }
}
