@use "./partials/global";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  &__image {
    background-image: url("../assets/images/hero-shows.jpg");
    height: 370px;
    background-position: center;
    background-size: cover;
    @include breakpoint-tablet {
      height: 50vw;
    }
    @include breakpoint-desktop {
      height: 40vw;
    }
    &--filter {
      background-color: rgba($color: $BandSite-Black, $alpha: 0.5);
      height: 100%;
    }
  }

  &__title-box {
    height: 100%;
    @include flex(column);
    justify-content: center;
    @include padding-sides($Mobile-Padding-Standard);
    @include breakpoint-tablet {
      @include padding-sides($Desktop-Padding-XL);
    }
    @include breakpoint-desktop {
      @include flex(row);
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: $max-width;
      @include padding-sides($reset);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    @include PageHeader-Mobile;
    color: $White;
    padding-bottom: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      @include PageHeader-Desktop;
      width: 70%;
    }
    @include breakpoint-desktop {
      @include PageHeader-Desktop;
      width: 50%;
    }
  }

  &__subtitle {
    @include Subheader-Mobile;
    color: $White;
    padding-bottom: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      @include Subheader-Desktop;
    }
    @include breakpoint-desktop {
      @include Subheader-Desktop;
      width: 100%;
      align-self: flex-end;
    }
  }
}

.music-box {
  @include breakpoint-tablet {
    width: 70%;
  }
  @include breakpoint-desktop {
    width: 45%;
  }
}

.shows {
  @include padding-sides($Mobile-Padding-Standard);

  @include breakpoint-tablet {
    @include padding-sides($Desktop-Padding-Standard);
  }

  @include breakpoint-desktop {
    max-width: $max-width;
    @include padding-sides($reset);
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include SectionHeader-Mobile;
    padding-top: $Mobile-Padding-Large;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding-top: $Desktop-Padding-Large;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__list {
    @include flex(column);
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-desktop {
      max-width: $comments-width;
      @include padding-sides($reset);
      margin-left: auto;
      margin-right: auto;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__box {
    @include divider;
    @include flex(column);
    padding-bottom: $Mobile-Padding-Standard;
    padding-top: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      padding-bottom: $Mobile-Padding-Large;
      padding-top: $Mobile-Padding-Large;
      @include flex(row);
      justify-content: space-evenly;
      align-items: center;
    }

    &:hover {
      background-color: $Alabaster;
    }
    &:active {
      background-color: $Mercury;
    }
  }

  &__date {
    font-weight: 600;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      width: 25%;
    }
  }
  &__venue {
    padding-bottom: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      width: 25%;
    }
  }
  &__location {
    padding-bottom: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      width: 25%;
    }
  }
  &__button {
    @include LabelsButtons-Desktop;
    margin-top: $Mobile-Padding-Standard;
    min-height: 2.25rem;
    background-color: $BandSite-Black;
    color: white;
    border-radius: 4px;

    @include breakpoint-tablet {
      margin-top: 0;
      width: 150px;
    }

    &:hover {
      background-color: $BandSite-DarkBlack;
    }
  }

  &__label {
    @include LabelsButtons-Desktop;
    font-weight: 400;
    color: $Silver;
    padding-bottom: $Mobile-Padding-Half;

    @include breakpoint-tablet {
      display: none;
    }
  }

  &__headers {
    display: none;

    @include breakpoint-tablet {
      padding-top: $Mobile-Padding-Large;
      @include flex(row);
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__header {
    color: $Silver;
    width: 25%;
  }

  &__hidden {
    width: 150px;
  }
}
