@use "./partials/global";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  &__image {
    background-image: url("../assets/images/hero-shows.jpg");
    height: 60vw;
    background-position: center;
    background-size: cover;
    @include breakpoint-tablet {
      height: 50vw;
    }
    @include breakpoint-desktop {
      height: 40vw;
    }
    &--filter {
      background-color: rgba($color: $BandSite-Black, $alpha: 0.5);
      height: 100%;
    }
  }

  &__title-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $Mobile-Padding-Standard;
    padding-right: $Mobile-Padding-Standard;
    @include breakpoint-tablet {
      padding-left: $Desktop-Padding-Standard;
      padding-right: $Desktop-Padding-Standard;

      @include breakpoint-desktop {
        max-width: $max-width;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__title {
    @include PageHeader-Mobile;
    color: $White;
    @include breakpoint-tablet {
      @include PageHeader-Desktop;
    }
  }
}

.shows {
  padding-left: $Mobile-Padding-Standard;
  padding-right: $Mobile-Padding-Standard;

  @include breakpoint-tablet {
    padding-left: $Desktop-Padding-Standard;
    padding-right: $Desktop-Padding-Standard;
  }

  @include breakpoint-desktop {
    max-width: $max-width;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include SectionHeader-Mobile;
    padding-top: $Mobile-Padding-Large;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-tablet {
      @include SectionHeader-Desktop;
      padding-top: $Desktop-Padding-Large;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-bottom: $Mobile-Padding-Standard;

    @include breakpoint-desktop {
      max-width: $comments-width;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: $Desktop-Padding-Standard;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding-bottom: $Mobile-Padding-Standard;
    padding-top: $Mobile-Padding-Standard;
    border-bottom: solid 1px $Mercury;

    @include breakpoint-tablet {
      padding-bottom: $Mobile-Padding-Large;
      padding-top: $Mobile-Padding-Large;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__date {
    font-weight: 600;

    @include breakpoint-tablet {
      width: 25%;
    }
  }
  &__venue {
    @include breakpoint-tablet {
      width: 25%;
    }
  }
  &__location {
    @include breakpoint-tablet {
      width: 25%;
    }
  }
  &__button {
    @include LabelsButtons-Desktop;
    width: 150px;
    min-height: 2.25rem;
    background-color: $BandSite-Black;
    color: white;
    border-radius: 4px;
  }

  &__label {
    @include LabelsButtons-Mobile;
    color: $Silver;

    @include breakpoint-tablet {
      display: none;
    }
  }

  &__headers {
    display: none;

    @include breakpoint-tablet {
      padding-top: $Mobile-Padding-Large;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__header {
    @include LabelsButtons-Desktop;
    color: $Silver;
    width: 25%;
  }

  &__hidden {
    width: 150px;
  }
}
